<mat-toolbar class="mat-elevation-z3">
  <button mat-icon-button (click)="collapsed.set(!collapsed())">
    <mat-icon>menu</mat-icon>
  </button>

<div class="img-content">
  <img src="logo.png" alt="" >
</div>
</mat-toolbar>

<mat-sidenav-container style="background-color: rgb(1, 1, 32);box-shadow: 0px 0px  50px beige;">
  <mat-sidenav
    opened
    mode="side"
    [style.width]="sidenavWidth()"
    style="background-color: rgb(1, 1, 32);box-shadow: 0px 0px  50px beige;"
  >
    <app-sidebar [collapsed]="collapsed()"/>
  </mat-sidenav>
  <mat-sidenav-content
    class="content"
    [style.margin-left]="sidenavWidth()"
    style="background-color: rgb(231, 231, 231)"
  >
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
